/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
  top: 100%;
  left: 0;
  min-width: 180px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* hover rosso */
.dropdown-content a:hover {
  background: #333;
  color: red;
}

/* CONTAINER */ 

.container { padding: 20px; } 

/* CARD */ 

.card { 
  background: white; 
  padding: 10px; 
  margin: 5px 0; 
  border-radius: 6px; 
} 
/* PLATFORM */ 
.platform { 
  margin-bottom: 20px; } 

.platform h3 { 
  background: #ddd; 
  padding: 8px; 
  border-radius: 5px;
} 

html { scroll-behavior: smooth; }
