body { 
  margin: 0; 
  font-family: Arial; 
  background: #f4f4f4; 
} 

/* NAVBAR */ 

.navbar { 
  display: flex; 
  justify-content: space-between; 
  background: #111; 
  color: white; 
  padding: 15px 20px; 
  position: sticky; 
  top: 0; 
  z-index: 1000; box-shadow: 0 2px 10px rgba(0,0,0,0.3); 
} 

.navbar nav { 
  display: flex; } 

.navbar a { 
  color: white; 
  margin-left: 20px; 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s; 
} 

.navbar a:hover { 
  color: #00bcd4; 
} 

/* CONTAINER */ 

.container { 
  padding: 20px; 
} 

/* CARD */ 

.card { 
  background: white; 
  padding: 10px; 
  margin: 5px 0; 
  border-radius: 6px; 

} 

/* PLATFORM */ 

.platform { 
  margin-bottom: 20px; 
} 

.platform h3 { 
  background: #ddd; 
  padding: 8px; 
  border-radius: 5px; 
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
  min-width: 180px;
  top: 100%;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* hover rosso */
.dropdown-content a:hover {
  background: #333;
  color: red;
}

/* mostra dropdown 
.dropdown:hover .dropdown-content {
  display: block;
} */

/* mostra dropdown: */
.dropdown.open .dropdown-content {
  display: block;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Altezza della navbar + un po' di margine */
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Logo sopra, menu sotto */
    align-items: center;
    gap: 10px;
  }
  .navbar nav {
    margin-left: 0;
    font-size: 14px;
  }
  .navbar a {
    margin: 0 10px;

  .dropdown-content {
    position: static; /* Sotto mobile, il menu sposta il contenuto invece di sovrapporsi */
    width: 100%;
    box-shadow: none;
    background: #222;
  }
}

